h1{
    text-align: center;
}

h2{
    text-align: center;
}

fieldset{
    width: 600px;
}

#form label{
    position: absolute;
    left: 19px;
    margin-right: 5px;
}

#form input.nome{
    position: absolute;
    left: 200px;
    width: 225px;
}

#form input.dia{
    position: absolute;
    left: 250px;
    width: 25px;
}

#form input.mes{
    position: absolute;
    left: 300px;
    width: 25px;
}

#form input.ano{
    position: absolute;
    left: 350px;
    width: 50px;
}

#form #barra0{
    position: absolute;
    left: 290px;
    margin-right: 5px;
}

#form #barra1{
    position: absolute;
    left: 340px;
    margin-right: 5px;
}

#form input.mae{
    position: absolute;
    left: 200px;
    width: 225px;
}

#form input.pai{
    position: absolute;
    left: 200px;
    width: 225px;
}

#form input.ddd{
    position: absolute;
    left: 150px;
    width: 25px;
}

#form input.tel{
    position: absolute;
    left: 230px;
    width: 100px;
}

#form #tel{
    position: absolute;
    left: 185px;
    margin-right: 5px;
}

#form input.ramal{
    position: absolute;
    left: 400px;
    width: 60px;
}

#form #ramal{
    position: absolute;
    left: 340px;
    margin-right: 5px;
}
#form input.email{
    position: absolute;
    left: 200px;
    width: 225px;
}

#form #serie{
    position: absolute;
    left: 18px;
    top: 570px;
}

#form #select{
    position: absolute;
    left: 18px;
    top: 590px;
}
#form #turno{
    position: absolute;
    left: 200px;
    top: 570px;
}

#form #checkm{
    position: absolute;
    left: 200px;
    top: 590px; 
}

#form #manha{
    position: absolute;
    left: 220px;
    top: 590px;
}

#form #checkt{
    position: absolute;
    left: 200px;
    top: 610px; 
}

#form #tarde{
    position: absolute;
    left: 220px;
    top: 610px;
}

#form #atv{
    position: absolute;
    left: 300px;
    top: 570px;
}

#form #checkinfo{
    position: absolute;
    left: 300px;
    top: 590px;
}

#form #info{
    position: absolute;
    left: 320px;
    top: 590px;
}

#form #checkmus{
    position: absolute;
    left: 300px;
    top: 610px;
}

#form #mus{
    position: absolute;
    left: 320px;
   top: 610px;
}

#form #checkbal{
    position: absolute;
    left: 300px;
  top: 630px;
}

#form #bal{
    position: absolute;
    left: 320px;
    top: 630px;
}

#form #checkpin{
    position: absolute;
    left: 300px;
    top: 650px;
}

#form #pin{
    position: absolute;
    left: 320px;
    top: 650px;
}

#form #checkjudo{
    position: absolute;
    left: 300px;
    top: 670px;
}

#form #judo{
    position: absolute;
    left: 320px;
    top: 670px;
}

#form #checkfut{
    position: absolute;
    left: 300px;
    top: 690px;
}

#form #fut{
    position: absolute;
    left: 320px;
    top: 690px;
}

#botao1{
    position: absolute;
    left: 150px;
}

#botao2{
    position: absolute;
    left: 290px;
}